<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <mirrors>
    <mirror>
      <id>conjars</id>
      <name>conjars</name>
      <url>https://repository.mapr.com/nexus/content/groups/mapr-public/conjars</url>
      <mirrorOf>conjars</mirrorOf>
    </mirror>
    <mirror>
     <id>apache-snapshots-http-unblocker</id>
     <mirrorOf>apache.snapshots</mirrorOf>
     <name>Dummy mirror to override default blocking mirror that blocks http</name>
     <url>http://repository.apache.org/snapshots/</url>
     <blocked>false</blocked>
   </mirror>
  </mirrors>
</settings>